html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    color: #000;
    font-size: 12pt;
}

body {
	font: 16px/1.5 'Lato', sans-serif;
	color: #949494;
	font-size: 100%;
	background: #fff;
	min-width: 320px;
}

header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 75px;
    margin:auto;
    display: block;
    max-width: auto;
}

/*	header bar */
#myName a {
	height: 120%;
	font-size: 200%;
	color: #555;
	font-weight:bolder;
	margin-top: -13px;
}

nav ul {
    margin: 0 auto;
    padding: 24px 0 0 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 5%;
    margin: auto;
}

nav {
	font-family: 'Lato', sans-serif;
    background-color: #efe;
    text-align: center;
    font-size: 1em;
    height: 70px;
}

nav ul li a {
	color: #666;
	text-decoration: none;
	outline: 0;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
	
}

nav ul li a:hover, #myName a:hover{
	color: #fff;
}

/* table */
table tr:nth-child(even) {
    background-color: #ddd;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}

table, th, td {
    border-bottom: 1px solid #ddd;
}


/* cv */
h3 {
    text-decoration: 
}
.firstdiv{
	padding: 70px 0 0 2%;
}
#aboutme div.containers  {
	clear:both;
    background-color: #eee;
	height: auto;
	
}
.subheader {
	padding-left:5%;
	color: #777;
	font-size: 1.3em;
}
.content {
	padding-left:10%;
	color: #888;
	font-size: 1em;
}

.left {
	float: left;
}
.right {
	float: left;
}
/* */
.clearfix:after { 
	content: ""; 
	display: block; 
	clear: both;
}

/* works */

#works div.containers  {
	clear:both;
    background-color: #eef;
	height: auto;
	padding: 70px 0 0 2%;
	
}

#contact div.containers  {
	clear:both;
    background-color: #fef;
	height: auto;
	padding: 70px 0 0 2%;
	
}



@media only screen and (min-width: 641px) and (max-width: 880px) {

    nav ul li {
        padding: 0 2.5%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {

    nav ul li {
        padding: 0 1.5%;
    }
}

@media only screen and (max-width: 480px) {

    nav ul li {
        padding: 0 0.5%;
    }
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
